body {
  background-color: #cbebc5;
}

h1 {
  color: green;
}

h2 {
  color: green
}



hr {
  border-style: none;
  border-top-style: double;
  border-width: 10px;
  color: white;
  width: 15%;
  height: 0px;
}
